spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/workflow
    username: sonar
    password: P@88345!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    root: INFO
    com.sonarworks: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
